/** wadah dari main content **/


.logo{
    margin-top: 30px;
}
.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* padding : 100px; */
}


.flex-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
    position: relative;
    /** penting untuk memulai flex**/
    display: flex;
}

/** membuat  cover bacground image  **/

.with-image {
    background-image: url("../storage/ImageBackground.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/** membuat nama atas **/

.flex-top-name {
    flex: 3;
    justify-content: center;
    align-items: center;
    display: flex;
}

.top-name {
    padding: 5px;
}

.top-name a {
    text-decoration: none;
}

/** membuat content deskripsi **/

.content {
    font-weight: 400;
    margin-bottom:50;
}

.content p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 9px;
}

.flex-content {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.better{
    color: white;
    margin: -30px;
}

/** membuat form **/

.flex-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    flex: 3;
}

.flex-form .flex-parent-inflex-wrapperput-form {
    flex: 0.6
}

.flex-form .flex-parent-input-form .flex-input-form {
    margin-right: 10px;
    border-radius: 15px;
    border: 2px solid orange;
    padding: 10px;
    overflow: hidden;
    display: flex;
    width: 150px;
    margin-top: 80px;
    
}
small{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
    font-size: medium;
}
a{
    color: white;
    margin-left: 25px;
}
.travel{
    color: orange;
    margin: auto;
}
.flex-form .flex-input-form .input-form {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 0.8rem;
}

.flex-form .flex-button-form {
    flex: 0.4;
    margin-bottom: 150px;
}

.flex-form .flex-button-form .button-form {
    display: block;
    width: 150px;
    border-radius: 15px;
    background: orange;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    margin-top: 80px;
}

/**
    membuat text menggulir kebawah 
**/

.flex-scroll {
    flex-direction: column;
    align-items: center;
    color: white;
    flex: 1;
    display: flex;
    padding-bottom: 50px;
    justify-content: flex-end;
    
}

.flex-scroll small {
    font-size: 0.8rem;
}

.flex-scroll .flex-arrow-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opacity {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(42, 38, 61, 0.82);
}